.base-style {
    margin: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
  
.main-base-style {  
    /* 
    * replace 160px with the sum of height of all other divs 
    * inc padding, margins etc 
    */
    min-height: calc(100% - 55px); 
}

html, body, flex {
    height: 100%;
    max-width: 100%;
    margin: 0;
    overflow: auto;
}

body {margin:2rem;}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

.outer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.two {
    flex-grow: 1
}


#nav-tab a.nav-item {
    /* TEXT */
    font-family: Raleway;
    font-style: normal;
    line-height: 24px;
    color: #5B626E;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    
    /* APPEARANCE */
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
    outline: none;
    padding: 14px 24px;
    
    /* Bottom Border */
    box-shadow: inset 0 -1.5px 0 #97A3B8;
}


#nav-tab a.nav-item.active {
    color: #11141A;
    box-shadow: inset 0 -4px 0 #FFA101;
    border: none;
}




/* Removes focus border around buttons. */
.btn:focus {
    outline: none;
    box-shadow: none;
}
/* Removes fade-in effect for buttons. */
.btn {
    transition: none;
}

.btn_custom {
    border: none;
    border-style: none;
    border-radius: 4px;  /* Rounded corners.*/
    cursor: pointer;  /* Mouse hover icon */

    /* Font Style */
    font-family: Lato;
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;

    
    /* TEXT */
    text-transform: capitalize;

}

/* Light Blue Button */
.btn_update_1 {
    /* COLORS */
    background-color: #C1BED8;
    color: #322A7D;
}
.btn_update_1:hover {
    /* COLORS */
    background-color: #69519E;
    color: #FFFFFF;
}
.btn_update_1:active {
    /* COLORS */
    background-color: #543b88;
    color: #dbdbdb;
}

/* Red Cancel Button */
.btn_delete {
    /* COLORS */
    background-color: #ff0000;
    color: #FFFFFF;
}
.btn_delete:hover {
    /* COLORS */
    background-color: #990000;
    color: #d9d9d9;
}
.btn_delete:active {
    /* COLORS */
    background-color: #790000;
    color: #b9b9b9;
}

/* Dark Blue Button */
.btn_custom_blue {
    background-color: #322A7D;
    border: none;
    border-radius: 4px;  /* Rounded corners.*/
    cursor: pointer;  /* Mouse hover icon */

    /* Font Style */
    font-family: Lato;
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}
.btn_custom_blue:hover {
    background: #69519E;
}
.btn_custom_blue:active {
    background: #553d88;
}

.btn_wide {
    width: 400px;
}

.margin_1 {
    margin: 18px;
}
.padding_1 {
    padding: 24px;
}
.padding_2 {
    padding-left: 24px;
    padding-top: 24px;
    height: 750px;
    margin-left: 24px;
}

.padding_3 {
    padding-left: 24px;
    height: 95%;
}

.custom_font_1 {
    font-size: 18px;
    text-align: right;
    color: #434343;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
    text-decoration: none;
}

.custom_font_2 {
    font-size: 18px;
    text-align: right;
    color: #434343;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    text-decoration: none;
}

/* Input Button */
.custom-input-btn {
    height:100%;
    color: #354052; /* Sets color of input button icon (magnifying glass) */
    position:absolute;
    margin: 30px;
    border-radius: 0px;
}
.custom-input-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.custom-input-btn:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.video {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    height: 95%;
    position: absolute;
}


/* SEARCH BAR CSS */
.custom-navigation-bar .custom-input-btn, .custom-input-input {
    background-color: transparent;
    border-style: none;
    font-family: Lato;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    margin: 0px;
    padding: 10px;
}
.custom-input-input {
    background-color: #F7F8FA;
    padding-left: 46px;
}
.custom-input-input:focus {
    outline: none;
}

/* Custom Dropdown */
.custom_dropdown {
    font-weight: 700;
    font-style: normal;
    font-family: Raleway;
    color: #4B5155;
    border-style: none;
    text-transform: capitalize;
    font-size: 19px;
    line-height: 24px;
    background-color: inherit;
    transition: none;
    border-radius: 0px;
}
.custom_dropdown:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.custom_dropdown:active {
    background-color: rgba(0, 0, 0, 0.15);
}


/* Dropdown List */
ul.dropdown-menu {
    left: inherit;
}
/* Dropdown List (navbar) */
.custom_dropdown_menu {
    background-color: #FFFFFF;
    right: 0;
    color: #11141A;
    text-align: center;
    min-width: 120px;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}
.custom_dropdown_menu li {
    padding-top: 0px;
    padding-bottom: 0px;
}
.custom_list_item {
    font-family: Lato;
    font-size: 16px;
    background-color: inherit;
    color: #2d3033;
    font-weight: 500;
    padding: 6px;
    /* 
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    */
}
.custom_list_item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #232527;
}
.custom_list_item:active {
    background-color: rgba(0, 0, 0, 0.17);
    color: #11141A;
}

/* Rows with links become clickable. */
[data-href] {
    cursor: pointer;
}

/* Table Row Style */
.custom_table_row {
    font-weight: 400;
}


.clientinfo-style {
    border-right: 2px inset #E2E7EE;
    min-width: 350px;
}


button.nav-link.mt-1.mb-1.float-right.btn.btn-outline-dark:hover {
    background: #69519E;
}

button.btn.btn-outline-info {
    width: 100%;
}

.custom_h1 {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    color: #4B5155;
}

input.form-control-sm.rounded {
    background-color: #F7F8FA;
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    color: #BBC5D5;
    border-style: none;

}

div.header-bar {
    padding-left: 16px;
    padding-right: 0px;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    color: #11141A;
    background-color: #FFFFFF;
    text-align: left;
    line-height: 18px;
}

html, body, main, .row, .container {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    width: 100%;
}

.analyses-videos-style {
    margin: 0px;
    padding: 16px;
}

.client-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: inherit;
    width: 100%;
}

thead tr th {
    /* TEXT */
    font-family: Raleway;
    font-style: normal;
    line-height: 24px;
    color: #11141A;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;

    /* APPEARANCE */
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
    outline: none;
    padding: 11px 10px;

    /* Bottom Border */
    box-shadow: inset 0 -1.5px 0 #463F8A;
}

thead tr th:hover {
    box-shadow: inset 0 -2.px 0 #E2E7EE;
    background-color: rgba(0, 0, 0, 0.05);
}

thead tr th.active {
    color: #463F8A;
}

a.nav-link.table-link:hover {
    /* TEXT */
    color: #5B626E;

    /* APPEARANCE */
    background-color: #DDDDDD;
    box-shadow: inset 0 -2.5px 0 #5B626E;
}

a.nav-link.table-link.active.show {
    color: #11141A;
    box-shadow: inset 0 -4px 0 #FFA101;
}

html, body {
    height: 100%;
    margin: 0;
}

.navigation-bar-style {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: #4B5155;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    line-height: 24px;
}

.custom_header4_font {
    color: #11141A;
    font-family: Raleway;
    font-size: 22px;
    line-height: 18px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;  
}

div.d-flex.align-items-end.flex-column.custom-background.clientinfo-style.p-2 {
    width: 350px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0%;
}

.footer {
    flex-shrink: 0;
  }