
.btn_dark_style {
    background-color: #322A7D;
    border: none;
    border-radius: 4px;  /* Rounded corners.*/

    /* Font Style */
    font-family: Lato;
    color: white;
    text-decoration: none;
    font-weight: 500; /* was 900 */
    font-style: normal;
    font-size: 18px;
    text-align: center;
}

.btn_dark_style:hover {
    background: #69519E;
}


/* Button Style (blue button) */
a.btn.btn-outline-dark.btn-sm.mt-1.mb-1 {
    background-color: #C1BED8;
    border: 1px inset #D2D2D2;
    border-style: solid;
    border-radius: 8px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    color: #322A7D;
    width: 100%;
}

a.btn.btn-outline-dark.btn-sm.mt-1.mb-1:hover {
    background-color: #69519E;
    color: #FFFFFF;
}

