.client-style {
  max-width: none;
  margin: 0px;
}

.active-tab-css {
  color: #11141A;
	box-shadow: inset 0 -4px 0 #FFA101;
}

.analyses-videos-style {
  padding: 0px;
  margin: 16px;
  border-radius: 0px;
}

.table-padding {
  padding: 16px;
}


/* Patient Details (left column) */
div.content-section.col-md-4 {
  flex: none;
  width: 380px;
}
  
  /* Patient Details Font */
  small.article-content {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  color: #393E46;
}
  
/* Patient Details Font (small text) */
small.text-muted {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  color: #393E46;
}
  
/* Delete Button */
a.btn.btn-outline-dark.btn-sm.mt-1.mb-1.btn_delete {
  background-color: #ff0000;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
}
  
a.btn.btn-outline-dark.btn-sm.mt-1.mb-1.btn_delete:hover {
  background-color: #990000;
  color: #d9d9d9;
}
  