.tab-bar-style {
    background: #FFFFFF;
    
    /* Border */
    border: 1px inset rgba(0, 0, 0, .15);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    
    /* Drop Shadow */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
  }