.profile-style {
    margin: 18px;
    max-height: none;
    max-width: none;
    padding: 0px;
}

.profile-style-1 {
    padding: 34px;
}
  
.header-bar {
    padding: 0px;

    height: 60px;
    background-color: #FFFFFF;
    box-shadow: inset 0 -4px 0 #FFA101;  /* Bottom Border */
    
    font-family: Raleway;
    color: #11141A;
    text-align: center;
}