a.nav-link.table-link {

  /* TEXT */
  font-family: Raleway;
  font-style: normal;
  line-height: 24px;
  color: #5B626E;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  
  /* APPEARANCE */
  background-color: #FFFFFF;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 14px 24px;
  
  /* Bottom Border */
  box-shadow: inset 0 -1.5px 0 #97A3B8;

  
    
}

a.nav-link.table-link:hover {
  /* TEXT */
	color: #5B626E;

  /* APPEARANCE */
  background-color: #DDDDDD;
  box-shadow: inset 0 -2.5px 0 #5B626E;
}

a.nav-link.table-link.active.show {
  color: #11141A;
	box-shadow: inset 0 -4px 0 #FFA101;
}

.tab-style {
  font-family: Raleway;
  font-style: normal;
  line-height: 24px;
  color: #5B626E;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;

  background-color: #FFFFFF;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 14px 24px;
}

thead tr th {
  color: #11141A;
  box-shadow: inset 0 -4px 0 #FFA101;
  background-color: #FFFFFF;
}

/* Tab Style*/
.custom-tab-style {
  /* TEXT */
  font-family: Raleway;
  font-style: normal;
  line-height: 24px;
  color: #5B626E;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  
  /* APPEARANCE */
  background-color: #FFFFFF;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 14px 24px;
  
  /* Bottom Border */
  box-shadow: inset 0 -1.5px 0 #97A3B8;
}
  
.custom-tab-style:hover {
  /* TEXT */
    color: #5B626E;

  /* APPEARANCE */
  background-color: #DDDDDD;
  box-shadow: inset 0 -2.5px 0 #5B626E;
}
  
.custom-tab-style.active {
  color: #11141A;
  box-shadow: inset 0 -4px 0 #FFA101;
}




