.table {
  /* Border Spacing Adjustments. */

  border-collapse: separate;  /* Adjacent borders will not be merged. */
  border-spacing: 0px 3px; /* 0px between columns, 3px between rows. */
  margin: 0px;
  margin-top: -3px; /* Compensating the 3px displacement caused by border-spacing. */
}

/* Default (table row) */
table tbody tr {
  border-style: solid;
  border-radius: 8px;
  font-family: Lato;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: capitalize;
  color: #4B5155;

  border-radius: 10px;
  border: 1px solid #DBE5ED;
}
  
/* Mouse Hover (table row) */
table tbody tr:hover {
  background-color: #F9FAFC;
}

/* Table Cell Border */
table tbody tr td, th {
  border: 1px solid #DBE5ED;
  border-left: none;
  border-right: none;
}

/* Round top-left corner for each row. */
table tbody tr td:first-child, th:first-child {
  /* Finds the 1st cell in each row (hence, 'first-child' and rounds a corner. */
  border-top-left-radius: inherit;
  border-left: inherit;
}


/* Round top-right corner for each row. */
table tbody tr td:last-child, th:last-child {
  border-top-right-radius: inherit;
  border-right: inherit;
}


/* Round bottom-left corner for each row.*/
table tbody tr td:first-child, th:first-child {
  border-bottom-left-radius: inherit;
}


/* Round bottom-right corner for each row. */
table tbody tr td:last-child, th:last-child {
  border-bottom-right-radius: inherit;
}