.table {
  /* Border Spacing Adjustments. */

  border-collapse: separate;  /* Adjacent borders will not be merged. */
  border-spacing: 0px 3px; /* 0px between columns, 3px between rows. */
  margin: 0px;
  margin-top: -3px; /* Compensating the 3px displacement caused by border-spacing. */
}
