{% extends "page/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Login & Sign Up  -->
<div class="row justify-content-md-center">
    <article class="p-4 col-lg-6">

        
        
        

        <!-- Navigation Bar (tabs) -->
        <nav class="">
            <div class="nav nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item custom-nav-item active" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login" aria-selected="true">Login</a>
                <a class="nav-item custom-nav-item" id="nav-signup-tab" data-toggle="tab" href="#nav-signup" role="tab" aria-controls="nav-signup" aria-selected="false">Sign Up</a>
            </div>
        </nav>

        <!-- Tab Content-->
        <div class="tab-content custom-background p-4" id="nav-tabSignup">
            <!-- Login. -->
            <div class="tab-pane show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
                <form method="POST">
                            
                    {% csrf_token %}
                    
                    <fieldset class="form-group">{{ form|crispy }}</fieldset>
                    
                    <!-- Button: Login. -->
                    <div class="form-group">
                        <button class="btn btn-outline-info btn_dark_style" type="submit">Login</button>
                    </div>
                </form>

                <!-- Footer. -->
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Need an Account?
                        <a class="ml-2 " href="{% url 'register' %}">Sign Up</a>
                    </small>
                </div>
            </div>
            
            <!-- Signup. -->
            <div class="tab-pane" id="nav-signup" role="tabpanel" aria-labelledby="nav-signup-tab">
                
            </div>
        </div>

        <!-- Navigation Bar (tabs) -->
        <div class="nav-fill">
            
        <ul class="nav nav-tabs">
            <!-- Tab: Login -->
            <li class="nav-item col p-0">
                <a class="nav-link table-link active" href="#login" role="tab" data-toggle="tab">Login</a>
            </li>
            <!-- Tab: Sign Up -->
            <li class="nav-item col p-0">
                <a class="nav-link table-link" href="#signup" role="tab" data-toggle="tab">Sign Up</a>
            </li>
        </ul>
        
    </div>
        <div class="custom-background table-padding">
            <div class="tab-content">

                <!-- Login -->
                <div id="login" role="tabpanel" class="tab-pane active">
                    <div class="content-section">
        
                        <form method="POST">
                            
                            {% csrf_token %}
                            
                            <fieldset class="form-group">{{ form|crispy }}</fieldset>
                            
                            <!-- Button: Login. -->
                            <div class="form-group">
                                <button class="btn btn-outline-info btn_dark_style" type="submit">Login</button>
                            </div>
                        </form>

                        <!-- Footer. -->
                        <div class="border-top pt-3">
                            <small class="text-muted">
                                Need an Account?
                                <a class="ml-2 " href="{% url 'register' %}">Sign Up</a>
                            </small>
                        </div>
                    </div>
                </div>
                
                <!-- Sign Up  -->
                <div id="signup" role="tabpanel" class="tab-pane">
                    
                </div>
            </div>
            
    </article>
</div>
    

{% endblock content %}