{% extends "page/base.html" %}
{% block content %}
<div class="row justify-content-sm-center">
    <div class="custom-background m-sm-3 p-sm-3 col-sm" style="max-width:600px;">
        <form method="POST">
            
            <fieldset class="">
                <legend class="custom_header4_font p-2 m-0">Logout</legend>
                <p class="text-dark m-0 pt-4 pb-4">You have been logged out.</p>
            </fieldset>
            <div class="d-flex justify-content-center p-1">
                <a class="btn btn_custom btn_delete pl-4 pr-4 m-1" style="background-color: #FFA101" href="{% url 'login' %}">Login?</a>
                <a class="btn btn_custom_blue pl-3 pr-3 m-1" href="{% url 'page-home' %}">Home</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}