{% extends "page/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex align-items-end flex-column custom-background m-sm-3">
    <!-- Sidebar (left) -->
    <div class="w-100">
        <div class="header-bar d-flex align-items-center">Edit Profile</div>
    </div>
    
    <!-- Client Analyses & Videos -->
    <div class="w-100 p-3">
        <div class="media m-0 p-0">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                {% if user.is_staff%}
                <h2 class="account-heading">{{user.username}}</h2>
                {% else %}
                <h2 class="account-heading">{{user.first_name}} {{user.last_name}}</h2>
                {% endif %}
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group m-0">
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group m-0">
                <button class="btn btn_custom_blue w-100" type="submit">Update</button>
            </div>
        </form>
    </div>



</div>
{% endblock content %}