{% extends "page/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex flex-grow-1 p-md-3 m-0 mw-100">
    <div class="d-flex flex-column align-items-stretch flex-grow-1 mw-100 custom-background ">
        <div class="d-flex align-items-center css_header_bar m-0 p-0">
            {% if user.is_staff%}
            <a class="btn btn_back p-0 m-1" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                </svg>
            </a>
            {% else %}
            <a class="btn btn_back p-0 m-1" href="{% url 'client' object.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                </svg>
            </a>
            {% endif %}            
            <span class="navigation-bar-style d-flex flex-grow-1 m-1 p-0">Edit Profile</span>
        </div>

        <div class="list-group list-group-flush scrollarea p-3 d-flex flex-fill">
            
            <form method="POST" class="list-unstyled p-0 m-0 d-flex flex-column flex-fill" enctype="multipart/form-data">
                <div class="media m-0 p-0 d-flex flex-row">
                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                    <div class="media-body">
                        {% if user.is_staff%}
                        <h2 class="account-heading">{{user.username}}</h2>
                        {% else %}
                        <h2 class="account-heading">{{user.first_name}} {{user.last_name}}</h2>
                        {% endif %}
                        <p class="text-secondary">{{ user.email }}</p>
                    </div>
                </div>
                {% csrf_token %}
                <fieldset class="form-group m-0">
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>

                <div class="form-group mt-auto">
                    <button class="btn btn_custom_blue w-100" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}