{% extends "page/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<!-- Login & Sign Up  -->
<div class="row justify-content-md-center">
    <article class="p-4 col-lg-6">

        <!-- Navigation Bar (tabs) -->
        <nav class="">
            <div class="nav nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item custom-nav-item" href="{% url 'login' %}">Login</a>
                <a class="nav-item custom-nav-item active" href="{% url 'register' %}" id="nav-signup-tab" data-toggle="tab" href="#nav-signup" role="tab" aria-controls="nav-signup" aria-selected="true">Sign Up</a>
            </div>
        </nav>

        <!-- Tab Content-->

            
            <!-- Signup. -->
            <div class="tab-pane" id="nav-signup" role="tabpanel" aria-labelledby="nav-signup-tab">
                <div class=" tab-content custom-background p-4">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn_custom_blue w-100" type="submit">Sign Up</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already Have an Account?
                            <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
    

{% endblock content %}
