/* Junk */


table tbody tr {
    background-color: #FFFFFF;
    border: 1px inset #D2D2D2;
    border-style: solid;
    border-radius: 8px;
    font-family: Lato;
    font-size: 18px;
    line-height: 30px;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
    color: #322A7D;
  }
