{% extends "page/base.html" %}
{% block content %}
{% load static %}

<div class="d-flex h-100">
    <!-- Sidebar (left) -->
    <div class="d-flex align-items-end flex-column custom-background clientinfo-style p-2" style="min-width:250px;">
        <div class="w-100">
            <div class="w-100 mt-auto">
                <a class="btn navigation-bar-style d-flex align-items-center pl-2" href="{% url 'page-home' %}">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
            <div class="p-2">
                <img class="rounded-circle account-img" src="{{ client.image.url }}">
                <h3 class="article-content"> {{ client.first_name }} {{ client.last_name }}</h3>
                <small class="text-muted">Created: {{ client.creation_date }}</small><br>
                <small class="text-muted">Last Updated: {{ client.last_updated }}</small><br><br>
                <h5 class="article-content mt-3">Client Data:</h5>
                <small class="article-content">Number of Analyses: {{ client.num_analyses }}</small><br>
                <small class="article-content">Number of Videos: {{ client.num_videos }}</small><br>
                {% if client.notes %}
                    <h5 class="article-content mt-3">Notes:</h5>
                    <small class="article-content">{{ client.notes }}</small><br>
                {% endif %}
            </div>
            
        </div>

        <div class="w-100 mt-auto">
            <a class="btn btn_custom btn_update_1 w-100 mt-2" href="{% url 'update-client' client.id %}">Update Client</a>
            <a class="btn btn_custom btn_delete w-100 mt-2" href="{% url 'delete-client' client.id %}">Delete Client</a>
        </div>
    </div>
    
    <!-- Client Analyses & Videos -->
    <article class="p-3 m-0 w-100">
        <!-- Navigation Bar (tabs) -->
        <nav class="">
            <div class="nav" id="nav-tab" role="tablist">
                <a class="nav-item pl-5 pr-5 custom-nav-item active" id="nav-anayses-tab" data-toggle="tab" href="#analyses" role="tab" aria-controls="analyses" aria-selected="true">Videos</a>
                <!-- <a class="nav-item pl-5 pr-5 custom-nav-item" id="nav-videos-tab" data-toggle="tab" href="#videos" role="tab" aria-controls="videos" aria-selected="true">Videos</a> -->
            </div>
        </nav>
        
        <!-- Tab Content-->
        <div class="tab-content custom-background p-3" id="nav-tabClient" style="border:none;">
            
            <!-- Login. -->
            <div class="tab-pane show active" id="analyses" role="tabpanel" aria-labelledby="nav-analyses-tab">
                <!-- Table -->
                <table id="dtBasicExample" class="table table-hover table-light" cellspacing="0" width="100%">
                    
                    <!-- Navigation Bar -->
                    <nav class="custom-navigation-bar navbar navbar-inverse p-0">
                        <div class="container p-0" style="flex-wrap: nowrap;">
                            
                            <!-- Search Bar -->
                            <form class="navbar-form navbar-left p-0 m-0" action="">
                                {% comment %}
                                <div class="input-group flex-shrink-1">
                                    <!-- Search Input-->
                                    <input type="search" class="custom-input-input" placeholder="Search" name="search"> 
                                    <!-- Search Button -->
                                    <button type="submit" class="btn custom-input-btn"><img src="/media/images/search_icon.svg"></button>
                                </div>
                                {% endcomment %}
                            </form>
                            
                            <!-- Upload Video Button -->
                            <a class="float-right" href="{% url 'upload-video' object.id %}">
                                <button type="button" class="btn btn_custom_blue mr-2 mb-1">Upload Video</button>
                            </a>

                        </div>
                    </nav>

                    <div>
                        <thead>
                            <tr>
                                <th scope="col">Original Video</th>
                                <th scope="col">Pose Estimation Video</th>
                                <th scope="col">Analysis (PDF)</th>
                                <th scope="col">Date</th>

                            </tr>
                        </thead>
                        {% if videos|length == 0 %}
                            <tr>
                                <td colspan="4" class="text-center">No analyses to display. Click the 'Analyse Video' button above to upload and analyse a video.</td>
                            </tr>
                        {% else %}
                            {% for video in videos %}
                                <tr class="listed-client-style">
                                    <!-- Original Video -->
                                    <th data-href="{% url 'video-modal' client.id video.id %}"><small>{{ video.title }}</small></th>
                                    <!-- Skeleton Video -->
                                    <th data-href="{% url 'pose-video-modal' client.id video.id %}"><small>{{ video.title }} Pose Estimation</small></th>
                                    <!-- Analysis -->
                                    <th data-href="{% url 'pdf-view' client.id video.analysis_title %}"><small>{{ video.analysis_title }}</small></th>
                                    <!-- Date -->
                                    <th><small>{{ video.date_uploaded }}</small></th>

                                    <!-- Edit Button -->
                                    {% comment %} <td><a class="btn btn-light btn-sm" href="{% url 'delete-video' client.id video.id %}"><i class="bi bi-pencil-square"></i></a></td> {% endcomment %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </div>
                </table>
            </div>
            
            {% comment %} <!-- Signup. -->
            <div class="tab-pane" id="videos" role="tabpanel" aria-labelledby="nav-videos-tab">
                <table id="dtBasicExample" class="table table-hover table-light" cellspacing="0" width="100%">
                    <!-- Table Navigation Bar -->
                    <nav class="custom-navigation-bar navbar navbar-inverse p-0">
                        <div class="container p-0" style="flex-wrap: nowrap;">
                            
                            <!-- Search Bar -->
                            <form class="navbar-form navbar-left p-0 m-0" action="">
                                <div class="input-group flex-shrink-1">
                                    <!-- Search Input-->
                                    <input type="search" class="custom-input-input" placeholder="Search" name="search"> 
                                    <!-- Search Button -->
                                    <button type="submit" class="btn custom-input-btn"><img src="/media/images/search_icon.svg"></button>
                                </div>
                            </form>
    
                            <!-- Upload Video Button -->
                            <a class="float-right" href="{% url 'upload-video' client.id %}">
                                <button type="button" class="btn btn_custom_blue mr-2 mb-1">Analyse Video</button>
                            </a>
                        </div>
                    </nav>
                    <div>
                    
                        <thead>
                            <tr>
                                <th class="col-sm-4">Name</th>
                                <th class="col-sm-4">Analysis</th>
                                <th class="col-sm-4">Date Uploaded</th>
                            </tr>
                        </thead>
                        {% if videos|length == 0 %}
                            <tr>
                                <td colspan="2" class="text-center">No videos to display. Click the 'Analyse Video' button above to upload and analyse a video.</td>
                            </tr>
                        {% else %}
                            {% for video in videos %}
                                <tr class="open-modal listed-client-style">
                                    <th data-href="{% url 'video-modal' client.id video.id %}"><small>{{ video.title }}</small></th>
                                    <th data-href="{% url 'pdf-view' %}"><small>Analysis.pdf</small></th>
                                    <th><small>{{ video.date_uploaded }}</small></th>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </div>
                </table>
            </div> {% endcomment %}
        </div>
    </article>
</div>


{% endblock content %}