{% extends "page/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex flex-grow-1 p-md-3 m-0 mw-100">
    <div class="d-flex flex-column align-items-stretch flex-grow-1 mw-100 custom-background ">
        <div class="d-flex align-items-center css_header_bar m-0 p-0">
            <a class="btn btn_back p-0 m-1" href="{% url 'page-home' %}">
                <img src="/media/images/arrow_left_short.svg" alt="" width="42" height="42" fill="currentColor" class="d-inline-block">
            </a>
            <span class="navigation-bar-style d-flex flex-grow-1 m-1 p-0">Create Client</span>
        </div>

        <div class="list-group list-group-flush scrollarea p-3 d-flex  flex-fill">
                <form method="POST" class="list-unstyled p-0 m-0 d-flex flex-column flex-fill">
                    {% csrf_token %}
                    <fieldset class="form-group m-0 pt-3 pb-3 d-flex flex-column flex-fill">
                        <div class="pb-2">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="pt-2 pb-2">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        <label for="notes" class="pt-2">Notes (Optional)</label>
                        <textarea class="w-100 form-control  d-flex flex-column flex-fill" type="textarea" name="notes" placeholder="Refering doctor, current medical history, reason for referal etc..." value="{{notes}}"></textarea>
                    </fieldset>
                    <div class="form-group mt-auto">
                        <button class="btn btn_custom_blue w-100" type="submit">Create Client</button>
                    </div>
                </form>
            
        </div>
    </div>
</div>


{% endblock content %}