{% extends "page/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="boarder-bottom mb-4">Create a Client</legend>
                <div>
                    {{ form.first_name|as_crispy_field }}
                </div>
                <div>
                    {{ form.last_name|as_crispy_field }}
                </div>
                <div>
                    {{ form.notes|as_crispy_field}}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}