{% extends "page/base.html" %}
{% block content %}


<div class="row justify-content-sm-center">
    <div class="custom-background m-sm-3 p-sm-3 col-sm" style="max-width:600px;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="">
                <legend class="custom_header4_font p-2 m-0">Delete Client</legend>
                <p class="text-dark mb-0 ml-4 pt-4 pb-4">Are you sure you wish to delete "{{ object.first_name }} {{ object.last_name }}?"</p>
            </fieldset>
            <div class="d-flex justify-content-center p-1">
                <button class="btn btn_custom btn_delete pl-3 pr-3 m-1" type="submit">Yes, Delete</button>
                <a class="btn btn_custom_blue pl-3 pr-3 m-1" href="{% url 'client' object.id %}">Cancel.</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}