{% extends "page/base.html" %}
{% block content %}

<!-- TABLE -->
  <!-- Client Analyses & Videos -->
    <div class="d-flex flex-grow-1 m-md-3 mw-100">
        <div class="d-flex flex-column align-items-stretch flex-grow-1 mw-100 custom-background p-3">
            <!-- TABLE: NAVBAR (tabs) -->
            <!-- if user is authenticated and staff member -->
                <nav class="d-flex align-items-center">
                    <a class="ms-auto pe-2" href="{% url 'create-client'%}">
                        <button type="button" class="btn btn_custom_blue mr-2 mb-1">New Client</button>
                    </a>
                </nav>

                <div class="list-group list-group-flush scrollarea">
                    <div class="table-responsive mw-100 ">
                    
                        <table id="dtBasicExample" class="table table-hover table-light align-middle" cellspacing="0" width="100%">
                        
                            <div class="">
                                <thead class="css_table_header">
                                    <tr class="tab-style">
                                        <th>Name</th>
                                        <th class="text-center">Analyses</th>
                                        <th class="text-center">Videos</th>
                                        <th class="text-center">Last Updated</th>
                                        <th class="text-center">Creation Date</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody class="css_table_body">
                                {% if clients|length == 0 %}
                                    <tr>
                                        <td colspan="6" class="text-center">No clients to display. Create a new client to begin video analysis.</td>
                                    </tr>
                                {% else %}
                                    {% for client in clients %}
                                    <tr class="listed-client-style" data-href="{% url 'client' client.id %}">
                                        <td class="table-link"><small>{{ client.first_name }} {{ client.last_name }}</small></td>
                                        <td class="text-center"><small>{{ client.num_analyses }}</small></td>
                                        <td class="text-center"><small>{{ client.num_videos }}</small></td>
                                        <td class="text-center"><small>{{ client.last_updated }}</small></td>
                                        <td class="text-center"><small>{{ client.creation_date}}</small></td>
                                        <td><a class="btn btn-light btn-sm mt-auto mb-auto" href="{% url 'update-client' client.id %}"><i class="bi bi-pencil-square"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </div>
                        </table>
                    </div>
                </div>

            <!-- If user is authenticated but not a staff member -->
            {% comment %} {% if not user.is_staff and user.is_authenticated %}
                <div class="container">
                    <div class="row" id="content">
                        You must be a staff member to view this page. 
                    </div>
                </div>
            {% endif %} {% endcomment %}

        </div>
    </div>

{% endblock content %}