{% extends "page/base.html" %}
{% block content %}
    <div class="content-section">
        <table id="dtBasicExample" class="table table-hover table-light" cellspacing="0" width="100%">
            {% if user.is_staff and user.is_authenticated %}
                <!--<tr>
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search...">
                </tr>-->
                <div class="d-flex justify-content-between">
                    <div class="container-fluid">
                        <form class="d-flex">
                            <input type="search" class="form-control-sm rounded" placeholder="Search..." aria-label="Search">
                            <button type="submit" class="btn btn-light btn-sm"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                    <a class="mb-2" href="{% url 'create-client' %}"><button type="button" class="btn btn-secondary">New Client</button></a>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Analyses</th>
                            <th>Videos</th>
                            <th>Last Updated</th>
                            <th>Creation Date</th>
                        </tr>
                    </thead>
                    {% for client in clients %}
                        <tr>
                            <td><a class="table-link" href="{% url 'client' client.id %}">{{ client.first_name }} {{ client.last_name }}</a></td>
                            <td><small>{{ client.num_analyses }}</small></td>
                            <td><small>{{ client.num_videos }}</small></td>
                            <td><small>{{ client.last_updated }}</small></td>
                            <td><small>{{ client.creation_date}}</small></td>
                            <td><a class="btn btn-light btn-sm" href="{% url 'update-client' client.id %}"><i class="bi bi-pencil-square"></i></a></td>
                        </tr></a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <div class="container">
                    <div class="row" id="content">

                    </div>
                </div>
            {% endif %}
        </table>
    </div>
{% endblock content %}