{% extends "page/base.html" %}
{% block content %}
<html>
    <!-- SIDEBAR -->
  <div class="d-none d-md-flex custom-background clientinfo-style p-0" style="min-width: 300px; max-width: 300px;">
    <div class="d-flex flex-column align-items-stretch flex-grow-1 bg-white p-0 ">
      
      <!-- SIDEBAR: HEADER -->
      <a class="d-flex align-items-center btn btn_back p-0 m-2" href="{% url 'client' client.id %}">
        <img src="/media/images/arrow_left_short.svg" alt="" width="42" height="42" fill="currentColor" class="d-inline-block">
        <span class="navigation-bar-style">Back</span>
      </a>
      
      <div class="border-bottom"></div>

      <!-- SIDEBAR: CONTENT -->
      <div class="list-group list-group-flush scrollarea p-3 m-0 flex-grow-1">
        <ul class="list-unstyled p-0 m-0">
            <div class="p-2">
                <h3 class="article-content"> {{ client.first_name }} {{ client.last_name }}</h3>
                <h5 class="article-content mt-3">Video Title:</h5>
                <div class="row mb-1">"{{ video.title }}"</div>
                <h5 class="article-content mt-3">Uploaded:</h5>
                <div class="row mb-1">{{ video.date_uploaded }}</div>
            </div>
        </ul>
      </div>
    </div>
  </div>


  <!-- TABLE -->
<!-- Client Analyses & Videos -->
<div class="d-flex flex-grow-1 p-md-3 m-0 mw-100">
    <div class="d-flex flex-column align-items-stretch flex-grow-1 mw-100 custom-background ">
   
    <!-- CONTENT -->
    <div class="list-group list-group-flush scrollarea p-0 m-0 flex-grow-1">
        <div class="list-group list-group-flush scrollarea">
            <video height="800" class="d-flex flex-column" controls>
                <source src="{{video.video.url}}" type="video/mp4">
                <b>{{video.title}}</b>
            </video>
        </div>
    </div>
  </div>
</div>

</html>
{% endblock content%}